*, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bgcol: #222327;
    --cover:#29fd53;
}

body{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgcol);
}
#navbar{
    width: 500px;
    height:90px;
    background-color: white;
    border-radius: 13px;
    padding-left:0.5rem;
    padding-right:0.5rem;
    box-shadow:2px 5px 10px orange;
}
#navbar ul{
    display:flex;
    list-style: none;
    justify-content: center;
}
#navbar ul li{
    width:90px;
    height:90px;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.magic a{
    text-decoration:none;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.img{
    width:2rem;
    height:2rem;
    /* color:white; */
    /* text-decoration: none; */
    color:var(--bgcol);
    z-index: 10;
}
.text{
    position:absolute;
    opacity:0;
    top:52.1%;
    /* transition:transform 500ms ease-in; */
    transition: 0.5s;
    letter-spacing: 0.05rem;
    font-size: 15.5px;
    color:var(--bgcol);
    font-weight:400;
}
.icon{
    box-sizing: border-box;
    display:flex;
    align-items: center;
    /* transition:transform 500ms ease-in-out; */
    transition:0.5s;
}
/* a:hover .icon{

    transform: translateY(-50px);
}
a:hover .text{
    opacity:1;
    transform:translateY(-10px);
} */
.magic.active .icon{
    transform: translateY(-47px);
    z-index:1;
}
.magic.active .text{
    opacity:1;
    transform:translateY(-11px);
}
.indicator{
    position:absolute;
    width:95px;
    transform: translateX(-180px);
    height:95px;
    background-color: var(--cover);
    border-radius: 50%;
    border:7px solid var(--bgcol);
    transform:translate(-180px, -51px);
    /* transition:all 0.5s ease-in; */
    transition: 0.5s;
}
.indicator::before{
    content:'';
    position:absolute;
    top:55.3%;
    left:-22px;
    border-top-right-radius:25px;
    box-shadow:1px -10px var(--bgcol);
    width:20px;
    height:20px;
    background-color: red;
    background-color: transparent;
}
.indicator::after{
    content:'';
    position:absolute;
    top:55.3%;
    right:-22px;
    border-top-left-radius:30px;
    box-shadow:-1px -10px var(--bgcol);
    width:21px;
    height:21px;
    background-color: red;
    background-color: transparent;
}
#navbar ul li:nth-child(1).active ~.indicator{
    transform:translate(-180px, -51px);
}
#navbar ul li:nth-child(2).active ~.indicator{
    transform:translate(-90px, -51px);
}
#navbar ul li:nth-child(3).active ~.indicator{
    transform:translate(0, -51px);
}
#navbar ul li:nth-child(4).active ~.indicator{
    transform:translate(90px, -51px);
}
#navbar ul li:nth-child(5).active ~.indicator{
    transform:translate(180px, -51px);
}
@media only screen and (max-width:572px)
{
    *{
        zoom:93%;
    }
/*     .text{
        top:45%;
    } */
     .magic.active .text{
        opacity:1;
        transform:translateY(-2px);
    }
}
@media only screen and (max-width:383px)
{
    *{
        zoom:90%;
    }
/*     .text{
        top:41.5%;
    } */
     .magic.active .text{
        opacity:1;
        transform:translateY(-2px);
    }
}

